.card{

    box-shadow: 5px 4px 5px  3px darkgray  ;
    margin-left: 20px;
}

.card:hover{
    scale: 1.03 ;
    transition: all ease 0.5s;
}


.box{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif    ;
    font-size: 28px;
    color: rgb(5, 5, 5);
   
    border-radius: 5px;
    border-color: black;

}

.batn{
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    height: 70px;
}

.chik{
    float: right;

}

.idchoti{
    font-size: 5px !important;
}